     body{
        /*  font-family: 'Montserrat', sans-serif;*/
        background: linear-gradient(#ffffff, #93a2da) ;
    }
    
    main{
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }
    .logo{
        width: 8vw;
        
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 2em;
    }
    .logo img{
        padding:32px 32px  ;
    }
    .mensaje{
       
        width: 60%;
        padding-top: 15vh;
        display: flex;
        justify-content: center;
        
    }
    .mensaje .contenido{
        width: 80%;    
        
        
    }
    .mensaje .contenido textarea{
        width: 100%; 
        color: #0A3871;   
        resize: none;
        background: transparent;
        border: none;
        font-size:32px;    
        font-style: italic;
       
        height: 64vh;
        padding: 0%;
        text-transform: lowercase;
        
    
    }
    .mensaje .contenido textarea::placeholder{
        color: #0A3871;
    }
    
    .mensaje .contenido textarea:focus{
        outline: none;    
    }
    .mensaje .contenido .botones{
        display: flex;
        /* flex-direction: row;*/
        gap: 3em;
        padding: 1em 0;
        justify-content: center;
        
        
    }
    .info{
        width: 100%;
        
    }
    .iconify{
        color: #495057;
        display: flex;
        align-items: end;     
        gap: 3px;
        
    
    }
    .iconify img{
        width: 16px;
        height: 16px;
        margin: 1px;
        
    }
    
    .resultadoMensaje{
        
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .resultadoMensaje .resultado{
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        width: 80%;
        height: 80vh;
        border-radius: 2em;
        box-shadow: 0 0 1em 0.1em #000051;

    }
    .resultado .noEncontrado{       
        margin-bottom: 1em;
        /*border: 2px solid red;    */    
        width: 80%; 
              
    }
    .noEncontrado .msn{        
        background: none;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        display: flex;      
        resize: none;
        margin-top: 1em;        
        border: none;
        justify-content: center;
        align-items: center;
        width: 98%;
        height: 68vh;
        
    }
    .noEncontrado .msn:focus-visible{
        outline: none;
    }
    .noEncontrado .msn::placeholder{
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        transform: translateY(10em);        
    }
  
    .resultado .encontradoMensaje{
        display: flex;
        flex-direction: column;       
        height: 90%;
        width: 70%;
        align-items: center;
            
    }
    .resultado .encontradoMensaje img{
        margin-top: 5em;        
    }
  
    
    .resultado .encontradoMensaje h3{    
       
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        color: rebeccapurple;
        
    }
    .resultado .encontradoMensaje p{
        padding-top: 2em;
        font-size: 1em;
        text-align: center;
    }
    .encontradoMensaje .lorem{
        overflow: auto;
        max-height: 100%;
        margin-top: 1em;
        font-family: 'Inter', sans-serif;
    }
   
    .resultado .noEncontrado .copiar{
        width: 100%;
        padding: 1.1em;
        
        background-color: #ffffff;
    }
    .resultadoMensaje .resultado img{
        width: 100%;
    }
    .sinMensaje{      
        font-weight: bold;
        font-size: 2em;
        padding: 1em 0;  
            
    }
    .resultado .encontradoMensaje{
        display: non;
    }
    .resultado .noEncontrado{
        display: none;
    }
    
    button{
        padding: 1.1em;
        width: 40%;
        border-radius: 1em;
        border: none;
        border:2px solid #0A3871;
        font-size: 16px;
        transition: 1s ;
        color: #0A3871;
        
    }
    button:hover{
        cursor: pointer;
        transform: scale(1.1)
    }
    .encriptar:hover{
        background-color: #184d8f;
        border-color: #184d8f;
        
    }
    .encriptar{
        background-color: #0A3871;
        color: #ffffff;
        padding: 1.1em;
        
        /* font-weight: bolder;*/
    
    }
    
    footer{
        height:15vh ;
    }
    .banner{
        display: flex table-column;
        align-items: flex-start;    
        text-align: center;         
        
        height: 100%;
        
    }
    
    
    .propietario{    
        font-style: italic;
        font-size: 1.5em;    
    }
    
    .copyright{    
        margin: 1em 0; 
        font-size: 1.2em;
    }
    
    @media screen  and (max-width: 1400px){
        .mensaje{
            width: 60%;
        }.resultadoMensaje{
            width: 30%;
        }
        
       
    }
    @media screen and (max-width: 1023px){
        main{        
            flex-direction: column;
        } .mensaje,        
            .resultadoMensaje{
            width: 100%;
        }
        .logo{
            padding: 0.5em 2em;        
        }
        .logo img{
            padding: 0;
        }
        .mensaje{
            padding-top: 5vh;
        }
        .mensaje .contenido {       
            width: 100%; 
            padding: 1.2em;  
            color: #0A3871;   
        }
        
        .resultadoMensaje .resultado{
            height: auto;            
            text-align: auto;        
            overflow: hidden;
            width: 90%;           
        } 
        .resultado .noEncontrado .msn{
            height: auto;
            border: 2px solid yellow;
        }
        .noEncontrado .msn::placeholder{
           
            transform: translateY(5em);        
        }
        .resultadoMensaje .resultado img{
            display: none;
        }
        .iconify{
            font-size: 14px;
            margin: 0%;
        }
        .resultado .encontradoMensaje p{
            
            padding-top: 1em;
        }
        .resultado .encontradoMensaje .lorem{
            overflow: auto;
            max-height: 20vh;
            margin: 1em;
        }
        .encontradoMensaje .copiar{
            margin-bottom: 1.1em;
            font-size: 12px;
            
        }    
    }
    @media screen and (max-width: 767px){
        .mensaje .contenido .botones{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            
        }button{
            width: 100%;
        }
        .noEncontrado .msn{
            height: auto;
        }
        .noEncontrado .msn::placeholder{
           
            transform: translateY(5em);        
        }
    }